body, html {
    height: 100%;
    margin: 0;
    display: grid;
}
.logo{
    
    background-image: url('/img/beyhanarkasi.png');
    width: 750px;
    margin-top: 1px;
    height: 125px;
    background-repeat: no-repeat;
    float: left;

}
.bgimg {
    background-image: url('/img/yeni3.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
  }
  
  .middle {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  hr {
    margin: auto;
    width: 40%;
  }


