.butonbeyaz
{
    color: white;
}

.logoo{

    background-image: url('/img/analogo.jpg');
    width: 290px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.halo {

    color:white;
}

a {
    color: #0d6efd;
    text-decoration: none;
}

#topbar {
    background: #545454;
    padding: 12px 0;
    font-size: 14px;
}

    #topbar .contact-info i {
        font-style: normal;
        color: #0dcaf0;
        margin-right: 1.5rem !important;
    }

        #topbar .contact-info i a, #topbar .contact-info i span {
            padding-left: 5px;
            color: #fff;
        }

        #topbar .contact-info i a {
            line-height: 0;
            transition: 0.3s;
        }

            #topbar .contact-info i a:hover {
                color: #0dcaf0;
            }
            #header {
                height: 70px;
                transition: all 0.5s;
                z-index: 997;
                transition: all 0.5s;
                background: #fff;
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
            }
            
                #header .logo h1 {
                    font-size: 26px;
                    padding: 0 0 0 8px;
                    margin: 11px 0;
                    line-height: 1;
                    font-weight: 700;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    font-family: "Poppins", sans-serif;
                    border-left: 8px solid #e96b56;
                }
            
                    #header .logo h1 a, #header .logo h1 a:hover {
                        color: #545454;
                        text-decoration: none;
                    }
            
                #header .logo img {
                    padding: 0;
                    margin: 0;
                    max-height: 40px;
                }
            
            .scrolled-offset {
                margin-top: 70px;
            }.navbar {
                padding: 0;
            }
            
                .navbar ul {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    list-style: none;
                    align-items: center;
                }
            
                .navbar li {
                    position: relative;
                    margin-right: 27px;
                }
            
                .navbar a, .navbar a:focus {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-family: "Poppins", sans-serif;
                    font-size: 15px;
                    color: #545454;
                    white-space: nowrap;
                    transition: 0.3s;
                }
            
                    .navbar a i, .navbar a:focus i {
                        font-size: 12px;
                        line-height: 0;
                        margin-left: 5px;
                    }
            
                    .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
                        color: #0dcaf0;
                    }
            
                .navbar .getstarted, .navbar .getstarted:focus {
                    background: #e96b56;
                    padding: 8px 20px;
                    margin-left: 30px;
                    border-radius: 4px;
                    color: #fff;
                }
            
                    .navbar .getstarted:hover, .navbar .getstarted:focus:hover {
                        color: #fff;
                        background: #ec7f6d;
                    }
            
                .navbar .dropdown ul {
                    display: block;
                    position: absolute;
                    left: 24px;
                    top: calc(100% + 30px);
                    margin: 0;
                    padding: 10px 0;
                    z-index: 99;
                    opacity: 0;
                    visibility: hidden;
                    background: #fff;
                    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
                    transition: 0.3s;
                }
            
                    .navbar .dropdown ul li {
                        min-width: 200px;
                    }
            
                    .navbar .dropdown ul a {
                        padding: 10px 20px;
                        font-size: 14px;
                        text-transform: none;
                        color: #545454;
                    }
            
                        .navbar .dropdown ul a i {
                            font-size: 12px;
                        }
            
                        .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
                            color: #e96b56;
                        }
            
                .navbar .dropdown:hover > ul {
                    opacity: 1;
                    top: 100%;
                    visibility: visible;
                }
            
                .navbar .dropdown .dropdown ul {
                    top: 0;
                    left: calc(100% - 30px);
                    visibility: hidden;
                }
            
                .navbar .dropdown .dropdown:hover > ul {
                    opacity: 1;
                    top: 0;
                    left: 100%;
                    visibility: visible;
                }
            
            @media (max-width: 1366px) {
                .navbar .dropdown .dropdown ul {
                    left: -90%;
                }
            
                .navbar .dropdown .dropdown:hover > ul {
                    left: -100%;
                }
            }