

.smart{

    background-image: url(/img/smart.png);
    background-size: cover;
    width: 260px;
    height: 111px;

}

.promethan{

    background-image: url(/img/pro.png);
    background-size: cover;
    width: 260px;
    height: 111px;

}

.microsoft{
    background-image: url(/img/microsoft.png);
    background-size: cover;
    width: 235px;
    height: 50px;

}
.vestel{
    background-image: url(/img/vestel.png);
    background-size: cover;
    width: 235px;
    height: 50px;

}

.beyhan{

    background-image: url(/img/beyhan2.png);
    width: 183px;
    height: 87px;
    display: inline-flex;
    background-size: cover;
    background-repeat: no-repeat;

}

.ege{

    background-image: url(/img/egelogo.png);
    width: 162px;
    height: 87px;
    display: inline-flex;
    background-size: cover;
    background-repeat: no-repeat;
}

.smartt{

    background-image: url(/img/smart.png);
    width: 188px;
    height: 86px;
    display: inline-flex;
    background-size: cover;
    background-repeat: no-repeat;

}


.player-wrapper {
    position: relative;
    padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
  }

  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  

.herofotobir{

    background-image: url(/img/yeni5.jpg);
    width: 100px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.herofotoiki{

    background-image: url(/img/yeni1.jpg);
    width: 100px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.herofotouc{

    background-image: url(/img/yeni2.jpg);
    width: 100px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.clients .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

    .clients .swiper-pagination .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #fff;
        opacity: 1;
    }

    .clients .swiper-pagination .swiper-pagination-bullet-active {
        background-color: #4380d9;
    }

.clients .swiper-slide img {
    opacity: 0.5;
    transition: 0.3s;
    filter: grayscale(100);
}

    .clients .swiper-slide img:hover {
        filter: none;
        opacity: 1;
    }


.featured {
    position: relative;
    z-index: 2;
    margin: -95px;
}

    .featured .icon-box {
        padding: 40px 30px;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        background: #fff;
        transition: all ease-in-out 0.3s;
        height: 100%;
        text-align: center;
    }

        .featured .icon-box i {
            color: #0d6efd;
            font-size: 42px;
            margin-bottom: 15px;
            display: block;
            line-height: 0;
        }

        .featured .icon-box h3 {
            font-weight: 700;
            margin-bottom: 15px;
            font-size: 20px;
        }

            .featured .icon-box h3 a {
                color: #545454;
                transition: 0.3s;
            }

        .featured .icon-box p {
            color: #545454;
            line-height: 24px;
            font-size: 14px;
            margin-bottom: 0;
        }

        .featured .icon-box:hover {
            background: #c8d5d7;
        }

            .featured .icon-box:hover i, .featured .icon-box:hover h3 a, .featured .icon-box:hover p {
                color: #fff;
            }
