.link{

    text-decoration: none;
    color: black;

}

.faq-search-wrap {
    padding: 50px 0 60px;
}

    .faq-search-wrap .form-group .form-control,
    .faq-search-wrap .form-group .dd-handle {
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
    }

    .faq-search-wrap .form-group .input-group-append {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
        pointer-events: none;
    }

        .faq-search-wrap .form-group .input-group-append .input-group-text {
            background: transparent;
            border: none;
        }

            .faq-search-wrap .form-group .input-group-append .input-group-text .feather-icon > svg {
                height: 18px;
                width: 18px;
            }

.bg-teal-light-3 {
    background-color: #0d6efd !important;
}

.hk-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

body {
    background: #fff;
    font-family: "Roboto", sans-serif;
}

.main-content {
    padding-top: 100px;
    padding-bottom: 100px;
}

.flex-center {
    align-items: center;
}

.accordion-button {
    margin-bottom: 10px;
}

.accordion-body {
    margin-top: 15px;
    padding: 25px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 25px -3px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.circle-icon {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2b4eff;
    border: 5px solid #b2bfff;
    color: #fff;
    margin-left: -20px;
    margin-right: 10px;
    transform: scale(1.2);
}

.accordion-item {
    border: 0px !important;
}

.accordion-button:not(.collapsed) {
    border: 0px !important;
    color: #0c63e4;
    background-color: #ffffff;
    box-shadow: inset 0 0px 0 rgb(0 0 0 / 13%);
}
.breadcrumbs {
    padding: 20px 0 20px 0;
    background: #f7f7f7;
    border-bottom: 1px solid #ededed;
    margin-bottom: 40px;
}

    .breadcrumbs h2 {
        font-size: 28px;
        font-weight: 700;
        color: #0dcaf0;
    }

    .breadcrumbs ol {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0 0 5px 0;
        margin: 0;
        font-size: 14px;
    }

        .breadcrumbs ol li + li {
            padding-left: 10px;
        }

            .breadcrumbs ol li + li::before {
                display: inline-block;
                padding-right: 10px;
                color: #6e6e6e;
                content: "/";
            }